<footer>
    <section>
        <div class="esquerda">
            <h1>Hiram1414</h1>
            <br>
            <p>Rua boninas - 92 - Esplanada</p>
            <p>Belo Horizonte - MG CEP: 30280220</p>
            <p>(31)994093081</p>
            <p>(31)25271266</p>
        </div>
        <div class="direita">
            <img width="200" src="../../../assets/images/logo-loja.png" alt="logo-loja">
        </div>
    </section>
    <div class="direitos">
        <p>© 2023. Todos os Direitos Reservados. | Conheça nossa Política de Privacidade</p>
    </div>
</footer>
