<app-header-inicial></app-header-inicial>
<section>
    <div class="containerImagens">
        <div class="links">
            <div class="containerLinks">
                <a class="btnLinkHome" routerLink="/historia-hiram">História Hiram1414</a>
                <a class="btnLinkHome" routerLink="/ex-veneraveis">Ex Veneráveis</a>
                <a class="btnLinkHome" routerLink="/historia-maconaria">A Maçonaria</a>
            </div>
        </div>
        <div class="imagemCentro">
            <img width="230" src="../../../assets/images/logo-loja.png" alt="logo loja hiram">
            <img width="230" src="../../../assets/images/standart-loja.jpeg" alt="logo teamplate hiram">
            <img width="230" src="../../../assets/images/logo-gob-federal.png" alt="logo gob federal">
        </div>
        <div class="links">
            <div class="containerLinks">
                <a class="btnLinkHome" routerLink="/calendario">Calendário</a>
                <a class="btnLinkHome" (click)="alertaManutencao()">Área das cunhadas</a>
                <a class="btnLinkHome" (click)="alertaManutencao()">Fotos de Eventos</a>
            </div>
        </div>
    </div>
    <div class="containerLogin">
        <form [formGroup]="formLogin" novalidate>
            <h2>Restrito aos Obreiros da Hiram:</h2>
            <mat-form-field class="formFild">
                <input (input)="somenteNumeros($event)" matInput placeholder="Digite o seu CIM" type="text"  formControlName="cim"  name="cim">
                <mat-error *ngIf="formLogin.controls['cim'].hasError('required')">CIM é um campo obrigatorio</mat-error>
            </mat-form-field>
            <mat-form-field class="formFild">
                <input matInput placeholder="Digite a sua senha" [type]="esconderSenha ? 'password' : 'text'"  formControlName="senha"  name="senha">
                <button mat-icon-button matSuffix (click)="toggleVisibilidadeSenha()">
                    <mat-icon>{{ esconderSenha ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="formLogin.controls['senha'].hasError('required')">Senha é um campo obrigatorio</mat-error>
            </mat-form-field>
            <mat-form-field class="formFild">
                <input matInput placeholder="Digite a sua palavra semestral" type="password"  formControlName="palavraSemestral"  name="palavraSemestral">
                <mat-error *ngIf="formLogin.controls['palavraSemestral'].hasError('required')">Palavra Semestral é um campo obrigatorio</mat-error>
            </mat-form-field>
            <div class="acao">
                <button mat-raised-button type="submit" (click)="salvar()" color="primary" class="botaoAcao">Entrar</button>
            </div>
        </form>
    </div>
</section>
<section class="sectionParticipantesHiram">
    <div class="containerParticipantes">
        <h1>Diretoria da loja 2023/2025</h1>
        <div class="fotos">
            <div class="containerImagemTexto"><img src="../../../assets/participantes/marcello.png" alt="foto orador"><p>Marcello Pellegrino</p><p>Veneravel Mestre</p></div>
        </div>
        <div class="fotos">
            <div class="containerImagemTexto"><img src="../../../assets/participantes/nilo-costa.jpeg" alt="foto orador"><p>Nilo Costa Junior</p><p>1º Vigilante</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/daniel-pequeno.jpeg" alt="foto orador"><p>Daniel Pequeno do Vale</p><p>2º Vigilante</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/thiago-otacilio.jpeg" alt="foto orador"><p>Thiago Otacilio de Morais</p><p>Orador</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/alessandro-prates.jpg" alt="foto orador"><p>Alessandro Prates Wanderley</p><p>Secretario</p></div>
        </div>   
        <div class="fotos">
            <div class="containerImagemTexto"><img src="../../../assets/participantes/freitas.jpeg" alt="foto orador"><p>José Maria de Freitas Fonseca</p><p>Tesoureiro</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/doulgas-almeida.jpeg" alt="foto orador"><p>Douglas de Almeida de Costa</p><p>Chanceler</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/valso-rodrigues.png" alt="foto orador"><p>Valso Rodrigues de Lima</p><p>Mestre de Cerimonias</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/dalmo-ribeiro.png" alt="foto orador"><p>Dalmo Ribeiro Martins</p><p>Dep. Estadual</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/mauro-jorge.jpeg" alt="foto orador"><p>Mauro Jorge de Paula Bomfim</p><p>Dep. Federal</p></div>
        </div>              
        <div class="explicacao">
            <h1>VENERAVEIS MESTRES DA LOJA HIRAM 1414</h1>
            <br><br>
            <div class="veneravel"><p>#01 | <span>19/09/1944 - 23/04/1945</span> | Wilson Moreira Prado | <span>Indicado</span></p></div>
            <div class="veneravel"><p>#02 | <span>13/04/1948 - 08/06/1948</span> | Lino Figueiredo Barbosa | <span>Indicado</span></p></div>
            <div class="veneravel"><p>#03 | <span>17/08/1948 - 29/06/1951</span> | José Vicente de Faria Júnior | <span>Aclamado</span></p></div>
            <div class="veneravel"><p>#04 | <span>26/09/1951 - 28/06/1952</span> | Alberto Amâncio Viana | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#05 | <span>28/06/1952 - 05/10/1953</span> | José Vicente de Faria Júnior | <span>Eleito (2ª administração)</span></p></div>
            <div class="veneravel"><p>#06 | <span>05/10/1953 - 23/06/1955</span> | Joaquim José Baeta Neves | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#07 | <span>23/06/1955 - 23/06/1956</span> | Joaquim José Baeta Neves | <span>Eleito (2ª administração)</span></p></div>
            <div class="veneravel"><p>#08 | <span>23/06/1956 - 13/05/1957</span> | Joaquim José Baeta Neves | <span>Eleito (3ª administração)</span></p></div>
            <div class="veneravel"><p>#09 | <span>13/05/1957 - 07/07/1958</span> | Joaquim José Baeta Neves | <span>Eleito (4ª administração)</span></p></div>
            <div class="veneravel"><p>#10 | <span>07/07/1958 - 09/06/1959</span> | José Mendes de Carvalho | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#11 | <span>09/06/1959 - 27/06/1960</span> | José Mendes de Carvalho | <span>Eleito (2ª administração)</span></p></div>
            <div class="veneravel"><p>#12 | <span>27/06/1960 - 09/07/1962</span> | Alkimar Baeta Neves | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#13 | <span>07/07/1962 - 31/07/1963</span> | Alkimar Baeta Neves | <span>Eleito (2ª administração)</span></p></div>
            <div class="veneravel"><p>#14 | <span>31/07/1963 - 23/06/1965</span> | Alkimar Baeta Neves | <span>Eleito (3ª administração)</span></p></div>
            <div class="veneravel"><p>#15 | <span>23/06/1965 - 22/06/1967</span> | José Mendes de Carvalho | <span>Eleito (3ª administração)</span></p></div>
            <div class="veneravel"><p>#16 | <span>22/06/1967 - 24/06/1969</span> | Élson de Miranda | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#17 | <span>24/06/1969 - 29/06/1971</span> | Élson de Miranda | <span>Eleito (2ª administração)</span></p></div>
            <div class="veneravel"><p>#18 | <span>29/06/1971 - 26/06/1973</span> | José Mendes de Carvalho | <span>Eleito (4ª administração)</span></p></div>
            <div class="veneravel"><p>#19 | <span>26/06/1973 - 25/06/1975</span> | Joaquim Dias do Nascimento Filho | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#20 | <span>25/06/1975 - 05/07/1977</span> | Élson de Miranda | <span>Eleito (3ª administração)</span></p></div>
            <div class="veneravel"><p>#21 | <span>05/07/1977 - 26/06/1979</span> | Osvaldo Carlos de Lacerda Campos | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#22 | <span>26/06/1979 - 24/06/1981</span> | Osvaldo Carlos de Lacerda Campos | <span>Eleito (2ª administração)</span></p></div>
            <div class="veneravel"><p>#23 | <span>24/06/1981 - 28/06/1983</span> | José Alves Moreira | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#24 | <span>28/06/1983 - 25/06/1985</span> | José Silvino Filho | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#25 | <span>25/06/1985 - 23/06/1987</span> | Henrique Antão da Costa | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#26 | <span>23/06/1987 - 27/06/1989</span> | Lauro Luiz Teixeira Vitorino | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#27 | <span>27/06/1989 - 25/06/1991</span> | Lauro Luiz Teixeira Vitorino | <span>Eleito (2ª administração)</span></p></div>
            <div class="veneravel"><p>#28 | <span>25/06/1991 - 29/06/1993</span> | Lauro Luiz Teixeira Vitorino | <span>Eleito (3ª administração)</span></p></div>
            <div class="veneravel"><p>#29 | <span>29/06/1993 - 27/06/1995</span> | Lauro Luiz Teixeira Vitorino | <span>Eleito (4ª administração)</span></p></div>
            <div class="veneravel"><p>#30 | <span>27/06/1995 - 29/11/1995</span> | Lauro Luiz Teixeira Vitorino | <span>Eleito (5ª administração)</span></p></div>
            <div class="veneravel"><p>#31 | <span>06/12/1995 - 17/09/1996</span> | Henrique Antão da Costa | <span>Aclamado</span></p></div>
            <div class="veneravel"><p>#32 | <span>17/09/1996 - 03/06/1997</span> | José Ramos de Oliveira | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#33 | <span>06/06/1997 - 08/06/1999</span> | Adilson Lamounier | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#34 | <span>08/06/1999 - 25/06/2001</span> | Shigueharu Sasaki | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#35 | <span>25/06/2001 - 24/06/2003</span> | Francisco Massara Gabrich | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#36 | <span>24/06/2003 - 26/06/2005</span> | José Francisco Tudéia | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#37 | <span>26/06/2005 - 26/06/2007</span> | José Francisco Tudéia | <span>Eleito. Renunciou na 2ª Ses∴</span></p></div>
            <div class="veneravel"><p>#38 | <span>26/06/2007 - 10/07/2007</span> | Dalton José de Oliveira | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#39 | <span>23/08/2007 - 23/06/2009</span> | Aloísio Batista dos Santos | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#40 | <span>23/06/2009 - 06/2011</span> | Ivan Moreira Lopes | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#41 | <span>06/2011 - 06/2013</span> | Paulo Célio Vieira | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#42 | <span>06/2013 - 06/2015</span> | André Luiz Padrão França | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#43 | <span>06/2015 - 06/2017</span> | José Francisco Tudeia | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#44 | <span>06/2017 - 06/2019</span> | Douglas de Almeida Costa | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#45 | <span>06/2019 - 06/2021</span> | Douglas de Almeida Costa | <span>Eleito (2ª administração)</span></p></div>
            <div class="veneravel"><p>#46 | <span>06/2021 - 06/2023</span> | Dalmo Ribeiro Martins | <span>Eleito</span></p></div>
            <div class="veneravel"><p>#47 | <span>06/2023 - Momento</span> | Marcello Pellegrino | <span>Eleito</span></p></div>
            <small><strong>passou por 47 administrações, sob a responsabilidade de (25) Mestres-Instalados, 
                sendo que 13 (treze) INICIADOS na própria Oficina e os demais, Filiados. 
                Dos 12 filiados, os Obreiros Alberto Amâncio Viana e José Francisco TUDÉIA,
                participaram dos Trabalhos da Loja desde os tempos de Aprendizes.
     
                Pesquisa efetuada pelo M. José Francisco TUDÉIA.
     
                30/05/2023</strong></small>
        </div>
    </div>
</section>
<app-footer-inicial></app-footer-inicial>