<app-header-inicial></app-header-inicial>
<section>
    <div class="containerImagens">
        <div class="imagensEsquerda">
            <img width="300" src="../../../assets/images/logo-gob-federal.png" alt="gob-federal">
        </div>
    
        <div class="imagensCentro">
            <div class="imagensCima">
                <img width="300" src="../../../assets/images/standart-loja.jpeg" alt="standart">
            </div>
            <div class="imagensBaixo">
                <img width="300" src="../../../assets/images/logo-loja.png" alt="logo-loja">
            </div>
        </div>
        <div class="imagensDireita">
            <img width="300" src="../../../assets/images/logo-gob-mg.png" alt="gob-mg">
        </div>
    </div>
</section>
<section class="containerFotosExplicativas">
    <div class="containerFoto">
        <img src="../../../assets/images/inicial1.jpeg" alt="background">
        <article>
            <h1>História Hiram1414</h1>
            <br>
            <p>A Maçonaria surgiu na cidade de Belo Horizonte antes mesmo da sua inauguração como Capital Mineira, o que só ocorreu em 12/12/1897. Assim, em 1895, criou-se a Loja Maçônica Nazareth e, no ano seguinte, 1896, foi fundada a Loja Maçônica Marquês de Pombal, ambas possuindo Obreiros de várias nacionalidades, entre brasileiros, franceses, portugueses, italianos e alemães.</p>
            <br>
            <p>Embora tivessem vida harmônica, após reuniões de suas diretorias, decidiu-se pela unificação das duas Oficinas, para a formação de outra, e, por autorização do Supremo Conselho do GOB, no ano de 1898, transformaram-se na Loja Maçônica Deus, Humanidade e Luz, sediada nesta Capital <a routerLink="/historia-hiram">Leia mais...</a></p>
        </article>
    </div>
    <br><br><br><br>
    <div class="containerFoto">
        <article>
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in dui eget purus convallis iaculis. Phasellus sed auctor arcu. Curabitur tincidunt dolor sed luctus elementum. Quisque elit leo, euismod ut eros a, blandit molestie urna. Ut ac dolor egestas, posuere leo nec, interdum purus. Sed dictum, velit ut pellentesque euismod, quam est facilisis erat, id rhoncus erat risus a tortor. Vivamus accumsan facilisis ipsum id fringilla. Morbi ac augue fermentum, elementum justo nec, commodo nisl. Morbi ut orci felis. Vivamus egestas, orci euismod fermentum rhoncus, lorem enim tempor est, mollis pretium nisi urna non massa. Morbi sodales dictum ipsum, eget porta diam efficitur vitae. Praesent feugiat pulvinar mi, at aliquet mi. Nunc dapibus volutpat elit.</p>
        </article>
        <img src="../../../assets/images/inicial2.jpeg" alt="background">
    </div>
    <br><br><br><br>
</section>
<section class="sectionParticipantesHiram">
    <div class="containerParticipantes">
        <h1>Diretoria da loja 2023/2025</h1>
        <div class="fotos">
            <div class="containerImagemTexto"><img src="../../../assets/participantes/marcello.png" alt="foto orador"><p>Marcello Pellegrino</p><p>Veneravel Mestre</p></div>
        </div>
        <div class="fotos">
            <div class="containerImagemTexto"><img src="../../../assets/participantes/nilo-costa.jpeg" alt="foto orador"><p>Nilo Costa Junior</p><p>1º Vigilante</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/daniel-pequeno.jpeg" alt="foto orador"><p>Daniel Pequeno do Vale</p><p>2º Vigilante</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/thiago-otacilio.jpeg" alt="foto orador"><p>Thiago Otacilio de Morais</p><p>Orador</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/usuario.png" alt="foto orador"><p>Alessandro Prates Wanderley</p><p>Secretario</p></div>
        </div>   
        <div class="fotos">
            <div class="containerImagemTexto"><img src="../../../assets/participantes/freitas.jpeg" alt="foto orador"><p>José Maria de Freitas Fonseca</p><p>Tesoureiro</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/doulgas-almeida.jpeg" alt="foto orador"><p>Douglas de Almeida de Costa</p><p>Chanceler</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/usuario.png" alt="foto orador"><p>Valso Rodrigues de Lima</p><p>Mestre de Cerimonias</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/dalmo-ribeiro.png" alt="foto orador"><p>Dalmo Ribeiro Martins</p><p>Dep. Estadual</p></div>
            <div class="containerImagemTexto"><img src="../../../assets/participantes/mauro-jorge.jpeg" alt="foto orador"><p>Mauro Jorge de Paula Bomfim</p><p>Dep. Federal</p></div>
        </div>              
        <div class="explicacao">
            <h1>Lorem Ipsum</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere ut sapien quis egestas. Ut porttitor vulputate orci, et feugiat nisl condimentum sit amet. Nunc ultrices lectus id turpis convallis bibendum. Aliquam ornare lacinia diam sit amet aliquam. In massa diam, eleifend ut nibh id, accumsan venenatis elit. Vestibulum in nulla lectus. Pellentesque accumsan, libero ac elementum semper, odio erat dictum magna, quis mattis erat arcu eget erat. Suspendisse sollicitudin magna id mauris mollis viverra. In hac habitasse platea dictumst.</p>
        </div>
    </div>
</section>
<app-footer-inicial></app-footer-inicial>