<app-header-inicial></app-header-inicial>
<main>
    <div class="titulo">
        <h1>EX Veneraveis Mestres da Loja Hiram 1414</h1>
    </div>
    <br><br>
        <p>#01 | <span>19/09/1944 - 23/04/1945</span> | Wilson Moreira Prado | <span>Indicado</span></p>
        <p>#02 | <span>13/04/1948 - 08/06/1948</span> | Lino Figueiredo Barbosa | <span>Indicado</span></p>
        <p>#03 | <span>17/08/1948 - 29/06/1951</span> | José Vicente de Faria Júnior | <span>Aclamado</span></p>
        <p>#04 | <span>26/09/1951 - 28/06/1952</span> | Alberto Amâncio Viana | <span>Eleito</span></p>
        <p>#05 | <span>28/06/1952 - 05/10/1953</span> | José Vicente de Faria Júnior | <span>Eleito (2ª administração)</span></p>
        <p>#06 | <span>05/10/1953 - 23/06/1955</span> | Joaquim José Baeta Neves | <span>Eleito</span></p>
        <p>#07 | <span>23/06/1955 - 23/06/1956</span> | Joaquim José Baeta Neves | <span>Eleito (2ª administração)</span></p>
        <p>#08 | <span>23/06/1956 - 13/05/1957</span> | Joaquim José Baeta Neves | <span>Eleito (3ª administração)</span></p>
        <p>#09 | <span>13/05/1957 - 07/07/1958</span> | Joaquim José Baeta Neves | <span>Eleito (4ª administração)</span></p>
        <p>#10 | <span>07/07/1958 - 09/06/1959</span> | José Mendes de Carvalho | <span>Eleito</span></p>
        <p>#11 | <span>09/06/1959 - 27/06/1960</span> | José Mendes de Carvalho | <span>Eleito (2ª administração)</span></p>
        <p>#12 | <span>27/06/1960 - 09/07/1962</span> | Alkimar Baeta Neves | <span>Eleito</span></p>
        <p>#13 | <span>07/07/1962 - 31/07/1963</span> | Alkimar Baeta Neves | <span>Eleito (2ª administração)</span></p>
        <p>#14 | <span>31/07/1963 - 23/06/1965</span> | Alkimar Baeta Neves | <span>Eleito (3ª administração)</span></p>
        <p>#15 | <span>23/06/1965 - 22/06/1967</span> | José Mendes de Carvalho | <span>Eleito (3ª administração)</span></p>
        <p>#16 | <span>24/06/1969 - 29/06/1971</span> | Élson de Miranda | <span>Eleito (2ª administração)</span></p>
        <p>#18 | <span>29/06/1971 - 26/06/1973</span> | José Mendes de Carvalho | <span>Eleito (4ª administração)</span></p>
        <p>#19 | <span>26/06/1973 - 25/06/1975</span> | Joaquim Dias do Nascimento Filho | <span>Eleito</span></p>
        <p>#20 | <span>25/06/1975 - 05/07/1977</span> | Élson de Miranda | <span>Eleito (3ª administração)</span></p>
        <p>#21 | <span>05/07/1977 - 26/06/1979</span> | Osvaldo Carlos de Lacerda Campos | <span>Eleito</span></p>
        <p>#22 | <span>26/06/1979 - 24/06/1981</span> | Osvaldo Carlos de Lacerda Campos | <span>Eleito (2ª administração)</span></p>
        <p>#23 | <span>24/06/1981 - 28/06/1983</span> | José Alves Moreira | <span>Eleito</span></p>
        <p>#24 | <span>28/06/1983 - 25/06/1985</span> | José Silvino Filho | <span>Eleito</span></p>
        <p>#25 | <span>25/06/1985 - 23/06/1987</span> | Henrique Antão da Costa | <span>Eleito</span></p>
        <p>#26 | <span>23/06/1987 - 27/06/1989</span> | Lauro Luiz Teixeira Vitorino | <span>Eleito</span></p>
        <p>#27 | <span>27/06/1989 - 25/06/1991</span> | Lauro Luiz Teixeira Vitorino | <span>Eleito (2ª administração)</span></p>
        <p>#28 | <span>25/06/1991 - 29/06/1993</span> | Lauro Luiz Teixeira Vitorino | <span>Eleito (3ª administração)</span></p>
        <p>#29 | <span>29/06/1993 - 27/06/1995</span> | Lauro Luiz Teixeira Vitorino | <span>Eleito (4ª administração)</span></p>
        <p>#30 | <span>27/06/1995 - 29/11/1995</span> | Lauro Luiz Teixeira Vitorino | <span>Eleito (5ª administração)</span></p>
        <p>#31 | <span>06/12/1995 - 17/09/1996</span> | Henrique Antão da Costa | <span>Aclamado</span></p>
        <p>#32 | <span>17/09/1996 - 03/06/1997</span> | José Ramos de Oliveira | <span>Eleito</span></p>
        <p>#33 | <span>06/06/1997 - 08/06/1999</span> | Adilson Lamounier | <span>Eleito</span></p>
        <p>#34 | <span>08/06/1999 - 25/06/2001</span> | Shigueharu Sasaki | <span>Eleito</span></p>
        <p>#35 | <span>25/06/2001 - 24/06/2003</span> | Francisco Massara Gabrich | <span>Eleito</span></p>
        <small><strong>passou por 47 administrações, sob a responsabilidade de (25) Mestres-Instalados, 
            sendo que 13 (treze) INICIADOS na própria Oficina e os demais, Filiados. 
            Dos 12 filiados, os Obreiros Alberto Amâncio Viana e José Francisco TUDÉIA,
            participaram dos Trabalhos da Loja desde os tempos de Aprendizes.

            Pesquisa efetuada pelo M. José Francisco TUDÉIA.

            30/05/2023</strong></small>
    <br>
</main>
<app-footer-inicial></app-footer-inicial>