<div class="containerApp">
    <div class="tittle">
        <h1>{{titulo}}</h1>
    </div>
    <mat-tab-group animationDuration="500ms">
        <mat-tab label="Informações basicas">
            <div class="card-conatiner mat-elevation-z8">
                <mat-card class="card">
                   
                    <form [formGroup]="formBasico" novalidate >
                       <div class="grid">
                            <mat-form-field class="formFild">
                                <input matInput placeholder="Digite a Descrição do Arquivo" [(ngModel)]="documento.descricao_arquivo" formControlName="descricao_arquivo"  name="descricao_arquivo">
                                <mat-error *ngIf="formBasico.controls['descricao_arquivo'].hasError('required')">Descrição do Arquivo é um campo obrigatorio</mat-error>
                            </mat-form-field>
                            <mat-form-field class="formFild">
                                <input type="url" matInput placeholder="Digite a URL do Arquivo" [(ngModel)]="documento.url_arquivo" formControlName="url_arquivo"  name="url_arquivo">
                                <mat-error *ngIf="formBasico.controls['url_arquivo'].hasError('required')">URL do Arquivo é um campo obrigatorio</mat-error>
                            </mat-form-field>
                       </div>            
                       <div class="actions">
                        <button mat-raised-button (click)="envia()" color="primary" class="cadastro">
                            {{descricaoBotao}}
                        </button>
                        <button mat-raised-button class="cancela" (click)="cancela()">
                            Voltar
                        </button>
                        <button mat-raised-button (click)="videoCadastraDocumento()" color="warn" class="cadastrarDocumento cadastro">
                            Como Cadastrar um Documento
                        </button>
                    </div>

                    </form>
                </mat-card>
               
            </div>
               
        </mat-tab>
       
    </mat-tab-group>
</div>
