<app-header-inicial></app-header-inicial>
<main>
    <div class="titulo">
        <h1>Caro Amigo, conheça um pouco do nosso grupo: A MAÇONARIA!!</h1>
    </div>
    <br><br>
    <p>Historicamente a sociedade humana tem se organizado por grupos de interesse: religiosos, políticos, econômicos, etc. Ao mesmo tempo em que um ou mais de um determinado interesse caracteriza um grupo, origina também antagonismo entre um grupo e outro.</p>
    <br>
    <p>A História é densa em exemplos de conflitos deste tipo. O próprio caráter religioso protagonizou embates e incoerências cruéis “em nome de Deus”.</p>
    <br>
    <p>Ora, que pensas de poder reunir homens que professam as mais variadas religiões, mas que aceitam “por acordo” denominar o Ente Supremo como sendo o Grande Arquiteto do Universo e que aceitem a partir deste ponto comum praticar a tolerância e nunca tentar impor a outrem sua religião e seus ritos? Já teremos aí dirimido um fator histórico de divisão entre os homens! Concordas?</p> 
    <br>
    <p>Outro aspecto que te apresento para análise é a própria composição de um grupo. Normalmente eles são compostos por uma característica de afinidade entre seus componentes. Este de que te falo tem a proposta de multidisciplinaridade.</p>
    <br>
    <p>Sem que haja predominância de um matiz sobre outros se busca médicos, dentistas, engenheiros, professores, advogados, empresários, comerciários, operários. Enfim a tônica é que a possibilidade de troca entre seus componentes seja propulsora do aprimoramento individual e coletivo. No entanto, cuidado não imagine que haja uma forma ou receita para este aprimoramento. Mas dependerá de cada um estar atento às situações de aprendizado e crescimento delas maximizar seus resultados.</p>
    <br>
    <p>Este aprendizado deverá chegar aos limites do Livre Arbítrio, portanto de uma maturidade instalada e instrumentalizada para estar permanentemente “à disposição” de atuar em prol de avanços, de progresso, de combate ao obscurantismo, de combate ao autoritarismo, em prol de direitos universais individuais e coletivos, em busca incessante de justiça. Deves estar pensando quão difícil é compor um grupo de homens que busquem estes princípios e que não estejam diferenciados e divididos na forma de buscá-los.</p>   
    <br>
    <p>Pois bem, é necessário aí novo acordo! Já ouviste alguma citação do tipo “… sou totalmente contrário ao que pensas, mas defenderei com minha própria vida o direito que tens de pensar assim”? Pois este é o acordo! Independente da concepção política, econômica ou filosófica de um membro do grupo este respeita o direito do outro pensar diferente.</p> 
    <br>
    <p>Este respeito é originado pela convicção do outro. Posso imaginar que meu irmão esteja enganado, mas parto sempre do pressuposto de que ele está convicto e ao defender o que pensa, o faz honestamente. Portanto só posso pretender uma mudança pelo convencimento e para tanto deverei buscar a forma e os argumentos adequados.</p>
    <br>
    <p>Vês, assim é possível funcionar com harmonia um grupo formado de homens que pertençam: a partidos políticos diferentes, a times de futebol diferentes, a igrejas diferentes, a escolas de samba diferentes, etc.</p>
    <br>
    <p>Imagina quantos interesses foram desestabilizados pela ação de homens livres. Libertação de nações, lutas libertárias, movimentos abolicionistas, campanhas, etc. A ação de homens livres carreou a ira e a reação de monarcas, governantes, igrejas e outros.</p>
    <br>
    <p>Portanto, a partir da ótica dos ameaçados de perder o poder discricionário era preciso combater, difamar e expor ao ridículo com informações que, incorretas, mas assustadoras, pudessem convencer a opinião pública mantendo-a atrelada ao discurso dos difamadores.</p>
    <br>
    <p>Convenhamos aos que dominam por crendice e engodo um grupo de homens livres, corajosos, libertários e coesos representava, realmente, um sério risco.</p>
    <br>
    <p>Penso que quase seria desnecessário comentar que por tudo o que já conversamos é evidente que este grupo de homens não poderia andar circulando com crachá no peito em meio a tantos obstáculos que hoje ainda perduram e que em outros tempos foram muito mais perigosos.</p>
    <br>
    <p>Portanto, o grupo é fechado e não secreto. Suas ações e a identificação pública de alguns de seus componentes acontecem, quando acontece, vários anos ou décadas após os fatos. Até porque o anonimato é cultuado mais como uma virtude que uma omissão ou fuga.</p>
    <br>
    <p>Assim a entrada de um novo membro é por decisão dos demais que observando alguém e suas ações na sociedade convidam-no. Nunca alguém bate à porta e pede entrada. Isto funciona como um mecanismo de manutenção da qualidade de recrutamento e portanto, manutenção da homogeneidade do grupo.</p>
    <br>
    <p>Diferentemente do que pensam muitos, nosso grupo não age institucionalmente na sociedade. Com exceção de ações filantrópicas e educativas, sempre anônimas, todas as demais ações são individuais e reflexos da postura consciente e cidadã de cada membro, mesmo que outros membros do grupo estejam a apoiá-lo.</p>
    <br>
    <p>Lê-se que a independência do Brasil foi anunciada entre o grupo antes mesmo de D. Pedro I, dar o grito. Isto não significa, no entanto, que fosse uma ação institucional do grupo. Significa apenas que muitos de seus membros defendiam esta causa, tinham muitos outros a apoiá-los e estavam em posições estratégicas para levar adiante sua consecução.</p>
    <br>
    <p>Bem, após toda caracterização, possível, é preciso que tenhas claro uma condição definitiva e importante. Este grupo é uma sociedade de HOMENS, especiais, mas HOMENS. Não é uma sociedade de SEMIDEUSES como muitos se imaginam e outros acreditam.</p>
    <br>
    <p>A condição humana, por mais que haja seleção, carrega contradições, imperfeições e isto se refletem nas ações individuais dentro do grupo. A humildade está em reconhecer estas deficiências e buscar um constante aprimoramento capaz de superá-las e atingir os objetivos a que o grupo se propõe.</p>
    <br>
    <p>A humildade e a pré-disposição de sempre entender e ter como normal a simples condição de eternos aprendizes, nos faz diferentes. Não estamos aqui para ditar regras ou fazer parte delas, mas apenas respeita-las, quando acreditarmos em todas elas. De nos apenas espere, honra, fraternidade, lealdade e respeito.</p>
    <br>
    <strong>m.pellegrino ∴</strong>
</main>
<app-footer-inicial></app-footer-inicial>